public/imsmanifest.dtd

<!-- Entities -->
<!ENTITY % itemAttr "identifier CDATA #REQUIRED
                    isvisible CDATA #IMPLIED
                    identifierref CDATA #IMPLIED
                    parameters CDATA #IMPLIED">
<!ENTITY % resoAttr "identifier CDATA #REQUIRED 
                    type CDATA #REQUIRED
                    href CDATA #IMPLIED
                    adlcp:scormtype  CDATA #IMPLIED">                      
<!-- Elements -->
<!ELEMENT manifest (metadata?, organizations, resources)>
<!ATTLIST manifest
          identifier CDATA #REQUIRED
          version CDATA #REQUIRED
          xmlns:adlcp CDATA #IMPLIED
          xml:base CDATA #IMPLIED>

<!ELEMENT metadata (schema, schemaversion)>
<!ELEMENT schema (#PCDATA)>
<!ELEMENT schemaversion (#PCDATA)>

<!ELEMENT organizations (organization+)>
<!ATTLIST organizations
          default CDATA #REQUIRED>
          
<!ELEMENT organization (title, item+)>
<!ATTLIST organization
          identifier CDATA #REQUIRED>

<!ELEMENT item (title, item*)>
<!ATTLIST item
          %itemAttr;>
          
<!ELEMENT title (#PCDATA)>

<!ELEMENT resources (resource+)>
<!ELEMENT resource (file*)>
<!ATTLIST resource
          %resoAttr;>

<!ELEMENT file EMPTY>
<!ATTLIST file
          href CDATA #REQUIRED> 